{% extends "_includes/default.njk" %}

{% block title %}moseley.dev{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
  <div class="items-center flex flex-wrap justify-center">
    <span style="font-size:min(max(30px, 30vw), 240px)" class="pr-5 pb-5">{}</span>
    <span style="font-size:min(max(30px, 10vw), 80px)">moseley.dev</span>
    </div>
  </div>
{% endblock %}