{% extends "_includes/default.njk" %}

{% block title %}moseley.dev{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <span class="text-9xl pr-5">{}</span>
    <span class="text-6xl">moseley.dev</span>
  </div>
{% endblock %}